<div class="container">
  <!-- BEGIN Header   -->
  <app-header></app-header>
  <!-- END Header   -->
  <mat-drawer-container class="sidenav-container" autosize>
    <!-- BEGIN SIDE  NAVIGATION -->
    <mat-drawer #sidenav mode="side" [(opened)]="opened">
      <p *ngIf="showFiller">--------------------------------------------------------------------</p>
      <p>
        <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
      </p>
    </mat-drawer>
    <!-- END SIDE  NAVIGATION -->

    <!-- BEGIN CONTENT -->
    <section>
      <div>
        <h1>Hello World</h1>
        <p>
          <mat-checkbox [(ngModel)]="showFiller">sidenav.opened</mat-checkbox>
        </p>
      </div>
    </section>
    <!-- END CONTENT -->
  </mat-drawer-container>
</div>