$white: #fff;
$blue: #006fc8;
$grey:#DEDEDE;
$red: #ff0000;

.button-black-5OdQu2e8mwr {
    background-color: #333333;
}

.button-blue-1iGRM5hHmwr {
    background-color: #006fc8;
}

.background-black-01{
    background-color: rgba(0, 0, 0, 0.1);
}

.p-0 {
    padding: 0 !important
}