<div class="">
  <div class="container">
    <div class="box-left">
      <div class="wrapper-box-left">
        <div class="box-header">
          <p>App Center </p>
        </div>
      </div>
    </div>
    <div class="box-right">
      <div class="wrapper-box-right">
        <div class="box-header">
          <p>Sign In</p>
        </div>
        <div class="box-body">
          <div class="login-page">
            <div class="login-button"></div>
            <div class="login-space">
              <div class="line"></div>
              <div>or</div>
            </div>
            <div class="login-form">
              <form action="">
                <div class="wrapper-form-input">
                  <div>
                    <input type="text" placeholder="Email or Username">
                  </div>
                  <div>
                    <input type="password" placeholder="Password">
                  </div>
                </div>
                <div class="wrapper-form-button">
                  <div class="forgot-password">
                    <p>Forgot password?</p>
                  </div>
                  <div class="submit">
                    <button>Sign In</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div>
            <ul class="p-0">
              <li>© 2019 AMCCG</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>