<section>
  <div class="container">
    <div class="box-left">
      <div class="wrapper-box-left">
        <div class="box-header">
          <p>App Center </p>
        </div>
      </div>
    </div>
    <div class="box-right">
      <div class="wrapper-box-right">
        <div class="box-form">
          <div class="box-header">
            <p>Sign In</p>
          </div>
          <div class="box-body">
            <div class="login-button">
              <a class="button-black-5OdQu2e8mwr">
                <div>
                  <svg alt="GitHub" role="presentation" aria-hidden="true" class="icon-small" width="32" height="32"
                    viewBox="0 0 32 32">
                    <g fill="none" fill-rule="evenodd">
                      <path style="    fill: white;
                          color: white;"
                        d="M17.065 0C8.23 0 0 7.163 0 16c0 7.07 4.584 13.066 10.942 15.182.8.147 1.092-.347 1.092-.77 0-.38-.013-1.387-.02-2.722-4.452.966-5.39-2.145-5.39-2.145-.73-1.85-1.778-2.34-1.778-2.34-1.452-.993.11-.973.11-.973 1.606.113 2.45 1.65 2.45 1.65 1.428 2.444 3.746 1.737 4.658 1.328.145-1.033.56-1.74 1.015-2.138-3.556-.404-7.29-1.777-7.29-7.908 0-1.747.622-3.176 1.645-4.294-.165-.404-.714-2.032.158-4.234 0 0 1.342-.43 4.4 1.64 1.275-.355 2.644-.532 4.004-.54 1.36.008 2.727.185 4.005.54 3.055-2.07 4.395-1.64 4.395-1.64.875 2.202.326 3.83.162 4.234 1.024 1.118 1.643 2.547 1.643 4.294 0 6.146-3.74 7.5-7.305 7.895.575.49 1.086 1.47 1.086 2.96 0 2.14-.02 3.863-.02 4.39 0 .426.29.924 1.1.77C27.42 29.06 32 23.066 32 16c0-8.837-7.164-16-16-16"
                        fill="#000"></path>
                    </g>
                  </svg>
                  <span>Continue with <span>GitHub</span></span>
                </div>
              </a>
              <a class="button-blue-1iGRM5hHmwr">
                <div>
                  <svg alt="Microsoft" role="presentation" aria-hidden="true" class="con-small" width="20" height="20"
                    viewBox="0 0 20 20">
                    <g fill="none" fill-rule="evenodd">
                      <path fill="#F15022" d="M0 0h9v9H0z" style="fill: rgb(241, 80, 34);"></path>
                      <path fill="#7FBA00" d="M10 0h9v9h-9z" style="fill: rgb(127, 186, 0);"></path>
                      <path fill="#00A4EF" d="M0 10h9v9H0z" style="fill: rgb(0, 164, 239);"></path>
                      <path fill="#FFB900" d="M10 10h9v9h-9z" style="fill: rgb(255, 185, 0);"></path>
                    </g>
                  </svg>
                  <span>Continue with <span>Microsoft</span></span>
                </div>
              </a>
              <div class="button-group">
                <a href="" class="background-black-01">
                  <div>
                    <svg alt="Facebook"
                      class="icon-small-5Pu5KNJjmwr icon-icon-3WRRs0Iwmwr icon-small-compact-1gQrCmQWmwr"
                      aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                      <g fill="none" fill-rule="evenodd">
                        <rect fill="#3C5A99" width="20" height="20" rx="2"></rect>
                        <path
                          d="M14 20v-8h2.65l.38-3H14V7.28c0-.87.3-1.47 1.54-1.47h1.6V3.14C16.86 3.08 15.92 3 14.8 3c-2.3 0-3.86 1.4-3.86 3.98V9h-2.6v3h2.6v8H14z"
                          fill="#FFF" fill-rule="nonzero" style="fill: rgb(255, 255, 255);"></path>
                      </g>
                    </svg>
                  </div>
                </a>
                <a href="" class="background-black-01">
                  <div>
                    <svg alt="Google"
                      class="icon-small-5Pu5KNJjmwr icon-icon-3WRRs0Iwmwr icon-small-compact-1gQrCmQWmwr"
                      aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                      <defs>
                        <path
                          d="M19.32 8.18H10v3.87h5.36c-.5 2.45-2.6 3.86-5.36 3.86-3.27 0-5.9-2.62-5.9-5.9 0-3.26 2.63-5.9 5.9-5.9 1.4 0 2.68.5 3.68 1.3l2.9-2.9C14.83.96 12.56 0 10 0 4.45 0 0 4.45 0 10s4.45 10 10 10c5 0 9.55-3.64 9.55-10 0-.6-.1-1.23-.23-1.82z"
                          id="a" style="fill: rgb(255, 255, 255);"></path>
                      </defs>
                      <g fill="none" fill-rule="evenodd">
                        <mask id="b" fill="#fff">
                          <use xlink:href="#a"></use>
                        </mask>
                        <path fill="#FBBC05" fill-rule="nonzero" mask="url(#b)" d="M-.9 15.9V4.1L6.8 10"
                          style="fill: rgb(251, 188, 5);"></path>
                        <path fill="#EA4335" fill-rule="nonzero" mask="url(#b)"
                          d="M-.9 4.1L6.8 10 10 7.23l10.9-1.78V-.9H-.9" style="fill: rgb(234, 67, 53);"></path>
                        <path fill="#34A853" fill-rule="nonzero" mask="url(#b)"
                          d="M-.9 15.9L12.72 5.46l3.6.46L20.9-.9v21.8H-.9" style="fill: rgb(52, 168, 83);"></path>
                        <path fill="#4285F4" fill-rule="nonzero" mask="url(#b)" d="M20.9 20.9L6.83 10 5 8.64 20.9 4.1"
                          style="fill: rgb(66, 133, 244);"></path>
                      </g>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
            <div class="login-page">
              <div class="login-button"></div>
              <div class="login-space">
                <div class="line"></div>
                <div>or</div>
              </div>
              <div class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="wrapper-form-input">
                    <div>
                      <input type="text" formControlName="username" placeholder="Email or Username">
                    </div>
                    <div>
                      <input type="password" formControlName="password" placeholder="Password">
                    </div>
                    <ng-container *ngIf="getAlertForm()">
                      <div>
                        <div class="alert">
                          <div>
                            Your email or password were incorrect.
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <div class="wrapper-form-button">
                    <div class="forgot-password">
                      <p>Forgot password?</p>
                    </div>
                    <div class="submit">
                      <button [disabled]="!loginForm.valid">Sign In</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <a href="">
              Create new account
              <svg alt="Right"
                class="icon-small-5Pu5KNJjmwr icon-icon-3WRRs0Iwmwr icon-small-compact-1gQrCmQWmwr icon-blue-2Ct30NTqmwr"
                aria-hidden="true" width="20" height="20" viewBox="0 0 20 20">
                <path d="M6.79 5.404l.694-.72 5.446 5.26-5.26 5.446-.72-.694 4.566-4.727" fill-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="box-service">
          <div class="">
            <ul class="p-0">
              <li>© 2019 AMCCG</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>