@import '~src/assets/style/styles-shared';
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .box-left {
        background-color: $blue;
        width: 100%;
        .wrapper-box-left {
            .box-header {
                align-items: center;
                display: flex;
                flex-direction: column;
                p {
                    color: $white;
                    font-weight: normal;
                    font-size: 14px;
                    padding: 10px 0;
                    margin: 0;
                }
            }
        }
    }
    .box-right {
        background-color: var(--gray-light3);
        display: flex;
        flex: 1 0 100%;
        justify-content: center;
        padding: 32px;
    }
}

@media screen and (min-width:1080px) {
    .container {
        flex-direction: row;
        .box-right {
            flex: 1 0 320px;
        }
    }
}