@import '~src/assets/style/styles-shared';
.header {
    .wrapper-header {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        background: $white;
        position: relative;
        z-index: 2;
    }
    .mat-toolbar-multiple-rows {
        max-height: 45px;
        min-height: 45px;
    }
    .example-spacer {
        flex: 1 1 auto;
    }
    .btn-user {
        background: transparent
    }
    .mat-stroked-button {
        border: none;
        border-radius: 0;
        height: 45px;
    }
}